@model List<DB.Prodotto>

@{
    ViewData["Title"] = "Magazzino GiDi";
}

@using (Html.BeginForm("index", "home", null, FormMethod.Get))
{
    @Html.TextBox("codice")
    <button type="submit" value="Get">Ricerca</button>
}

@if (Model != null)
{
    @if (Model.Count == 1)
    {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.First().Nome)</td>
                <td>@Html.TextBoxFor(m => m.First().Nome)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.First().CodiceArticolo)</td>
                <td>@Html.TextBoxFor(m => m.First().CodiceArticolo)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.First().PrezzoAcquisto)</td>
                <td>@Html.TextBoxFor(m => m.First().PrezzoAcquisto)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.First().PrezzoVendita)</td>
                <td>@Html.TextBoxFor(m => m.First().PrezzoVendita)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.First().Produttore.Nome)</td>
                <td>@Html.TextBoxFor(m => m.First().Produttore.Nome)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.First().Storici.Count)</td>
                <td>@Html.TextBoxFor(m => m.First().Storici.Count)</td>
            </tr>

            <tr>
                <td>@Html.Label("Aumenta Scorte")</td>
                <td>
                    @using (Html.BeginForm("ProductOperation", "Prodotti", null, FormMethod.Post))
                    {
                        <input type="text" name="id" value=@(Model[0].Id) hidden="hidden" />
                        <input type="text" name="operation" value="true" hidden="hidden" />
                        <input type="number" name="number" value="0" min="0" max="999" />
                        <button type="submit" value="Get">+</button>
                    }
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Dimuisci Scorte")</td>
                <td>
                    @using (Html.BeginForm("ProductOperation", "Prodotti", null, FormMethod.Post))
                    {
                        <input type="text" name="id" value="@(Model[0].Id)" hidden="hidden" />
                        <input type="text" name="operation" value="false" hidden="hidden" />
                        <input type="number" name="number" value="0" min="0" max="999" />
                        <button type="submit" value="Get">-</button>
                    }
                </td>
            </tr>
            <tr>    </tr>
            <br />
            <tr>
                <td>@Html.LabelFor(m => m.First().Note)</td>
                <td>@Html.TextAreaFor(m => m.First().Note)</td>
            </tr>
        </table>
    }

    @if (Model.Count > 1)
    {
        foreach (var item in Model)
        {
            @using (Html.BeginForm("index", "home", null, FormMethod.Get))
            {
                <ul class="list-group list">
                    <li class="list-group-item">
                        <button type="submit" value="Get">Find</button>
                        <span class="badge">@item.Storici.Count</span>
                        @item.Produttore.Nome - @item.CodiceArticolo - @item.Nome -
                        @if (item.Note.Length < 20)
                        {
                            @item.Note
                        }
                        else
                        {
                            @(item.Note.Substring(0, 20) + "...")
                        }
                        <input type="text" name="codice" value="@item.CodiceArticolo" hidden="hidden" />
                    </li>
                </ul>

            }

        }
    }
}
